<!-- hero area -->
<div class="container-lg home_2_hero_wrp">
    <div class="home_2_hero">
        <div class="container">
            <div class="hero_slider_active">
                <ng-container *ngFor="let slider of sliders">
                    <div class="single_hero_slider bg-3">
                        <div class="container">
                            <div class="row align-items-center">
                                <!-- <div class="col-lg-6 col-sm-7">
                                <div class="hero_content text-center text-sm-start">
                                    <p>Get up to 50% off Today only</p>
                                    <h1>iPhone 11 Pro Max </h1>
                                    <div class="price">
                                        <span class="org_price">$450.00</span>
                                        <span class="prev_price">$550.45</span>
                                    </div>
                                    <div class="hero_btn">
                                        <a class="default_btn rounded" href="shop-grid.html">Shop Now</a>
                                    </div>
                                </div>
                            </div> -->
                                <div class="col-12">
                                    <div class="hero_img">
                                        <img loading="lazy" style="max-height: initial !important;"
                                            [src]="slider.imagen" alt="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- <div class="single_hero_slider bg-1">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="hero_content text-center text-sm-start">
                                    <p>Get up to 50% off Today only</p>
                                    <h1>iPhone 12 Pro Max </h1>
                                    <div class="price">
                                        <span class="org_price">$450.00</span>
                                        <span class="prev_price">$550.45</span>
                                    </div>
                                    <div class="hero_btn">
                                        <a class="default_btn rounded" href="shop-grid.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 d-none d-sm-block">
                                <div class="hero_img">
                                    <img loading="lazy"  src="assets/images/iphone-12.png" alt="phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_hero_slider bg-2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="hero_content text-center text-sm-start">
                                    <p>Get up to 50% off Today only</p>
                                    <h1>Apple iPhone XR</h1>
                                    <div class="price">
                                        <span class="org_price">$450.00</span>
                                        <span class="prev_price">$550.45</span>
                                    </div>
                                    <div class="hero_btn">
                                        <a class="default_btn rounded" href="shop-grid.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 d-none d-sm-block">
                                <div class="hero_img">
                                    <img loading="lazy"  src="assets/images/iphone-xr.png" alt="phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- features area -->
<section class="features_area  section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row justify-content-center gx-2 gx-md-4">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div
                            class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center">
                            <div class="feature_icon">
                                <img loading="lazy" src="assets/images/svg/delivery-van.svg" alt="icon">

                            </div>
                            <div class="feature_content">
                                <h4>Free shipping</h4>
                                <p>Orders over $200</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div
                            class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center">
                            <div class="feature_icon">
                                <img loading="lazy" src="assets/images/svg/money-back.svg" alt="icon">
                            </div>
                            <div class="feature_content">
                                <h4>Money Returns</h4>
                                <p>30 Days money return</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div
                            class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center">
                            <div class="feature_icon">
                                <img loading="lazy" src="assets/images/svg/service-hours.svg" alt="icon">
                            </div>
                            <div class="feature_content">
                                <h4>24/7 Support</h4>
                                <p>Customer support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- top ranking -->
<section class="top_ranking section_padding_b">
    <div class="container">
        <h2 class="section_title_2 mb-0">Top Ranking</h2>
        <div class="row">
            <ng-container *ngFor="let group_categorie of group_categories_product">
                <div class="col-xl-3 col-lg-4 col-6">
                    <h4 class="single_topr_title">{{ group_categorie.name }}</h4>
                    <ng-container *ngFor="let product of group_categorie.products">
                        <div class="single_top_ranking">
                            <div class="topr_img" style="width: auto;">
                                <a [routerLink]="[ '/producto/', product.slug ]">
                                    <img loading="lazy" style="width: 60.5px !important;" [src]="product.imagen"
                                        alt="product">
                                </a>
                                <span class="tag">1</span>
                            </div>
                            <div class="topr_content">
                                <a [routerLink]="[ '/producto/', product.slug ]">
                                    <h4>{{ product.tittle.length > 15 ? product.tittle.slice(0, 30)+"..." :
                                        product.tittle
                                        }} </h4>
                                </a>
                                <div class="price">
                                    <span class="org_price">{{ product.price_soles }} PEN</span>
                                    <!-- <span class="prev_price">$300.45</span> -->
                                </div>
                                <div class="rating">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rating_star">
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                        </div>
                                        <p class="rating_count">(150)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- <div class="single_top_ranking">
                      <div class="topr_img">
                          <a href="product-view.html">
                              <img loading="lazy"  src="assets/images/watch2.png" alt="product">
                          </a>
                          <span class="tag">2</span>
                      </div>
                      <div class="topr_content">
                          <a href="product-view.html">
                              <h4> Callie Smartwatch</h4>
                          </a>
                          <div class="price">
                              <span class="org_price">$150.00</span>
                              <span class="prev_price">$200.45</span>
                          </div>
                          <div class="rating">
                              <div class="d-flex align-items-center justify-content-start">
                                  <div class="rating_star">
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                  </div>
                                  <p class="rating_count">(150)</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="single_top_ranking">
                      <div class="topr_img">
                          <a href="product-view.html">
                              <img loading="lazy"  src="assets/images/watch3.png" alt="product">
                          </a>
                          <span class="tag">3</span>
                      </div>
                      <div class="topr_content">
                          <a href="product-view.html">
                              <h4>Cruz Smartwatch</h4>
                          </a>
                          <div class="price">
                              <span class="org_price">$45.00</span>
                              <span class="prev_price">$55.45</span>
                          </div>
                          <div class="rating">
                              <div class="d-flex align-items-center justify-content-start">
                                  <div class="rating_star">
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                      <span><i class="las la-star"></i></span>
                                  </div>
                                  <p class="rating_count">(150)</p>
                              </div>
                          </div>
                      </div>
                  </div> -->
                </div>
            </ng-container>

            <!-- <div class="col-xl-3 col-lg-4 col-6">
                <h4 class="single_topr_title">Mobile</h4>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/phone-1.png" alt="product">
                        </a>
                        <span class="tag">1</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>Xiaomi Note 7</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/phone-2.png" alt="product">
                        </a>
                        <span class="tag">2</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>iPhone 11 max</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/phone-3.png" alt="product">
                        </a>
                        <span class="tag">3</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>Oppo poco f1</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6">
                <h4 class="single_topr_title">Laptop</h4>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/laptop-1.png" alt="product">
                        </a>
                        <span class="tag">1</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>Dell inspire 14</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/laptop-2.png" alt="product">
                        </a>
                        <span class="tag">2</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>HP Omen 13</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/laptop-3.png" alt="product">
                        </a>
                        <span class="tag">3</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>HP Pavilion 15</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 d-lg-none d-block d-xl-block">
                <h4 class="single_topr_title">Headphones</h4>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/headphone-1.png" alt="product">
                        </a>
                        <span class="tag">1</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>Bose Headphones</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/headphone-2.png" alt="product">
                        </a>
                        <span class="tag">2</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>COWIN E7 Active </h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_top_ranking">
                    <div class="topr_img">
                        <a href="product-view.html">
                            <img loading="lazy"  src="assets/images/headphone-3.png" alt="product">
                        </a>
                        <span class="tag">3</span>
                    </div>
                    <div class="topr_content">
                        <a href="product-view.html">
                            <h4>Beats Headphones</h4>
                        </a>
                        <div class="price">
                            <span class="org_price">$45.00</span>
                            <span class="prev_price">$55.45</span>
                        </div>
                        <div class="rating">
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rating_star">
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                    <span><i class="las la-star"></i></span>
                                </div>
                                <p class="rating_count">(150)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- new arrive -->
<section class="new_arrive section_padding_b">
    <div class="container">
        <div class="d-flex align-items-start justify-content-between">
            <h2 class="section_title_2">New Arrivals</h2>
            <div class="seemore_2 pt-2">
                <a href="#">See More <span><i class="las la-angle-right"></i></span></a>
            </div>
        </div>
        <div class="row gy-4">
            <ng-container *ngFor="let products_aletorio of products_aletorio_a">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_new_arrive">
                        <div class="sna_img">
                            <img loading="lazy" class="prd_img" [src]="products_aletorio.imagen" alt="product">
                            <span class="tag">Hot</span>
                            <div class="prodcut_hovcont">
                                <a href="javascript:void(0)" class="icon open_quickview"
                                    (click)="openModal(products_aletorio)" tabindex="0">
                                    <i class="icon-search-left"></i>
                                </a>
                                <a href="#" class="icon" tabindex="0">
                                    <i class="icon-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="sna_content">
                            <a [routerLink]="[ '/producto/', products_aletorio.slug ]">
                                <h4>{{ products_aletorio.tittle.length > 15 ? products_aletorio.tittle.slice(0,
                                    20)+"..."
                                    : products_aletorio.tittle }}</h4>
                            </a>
                            <div class="ratprice">
                                <div class="price">
                                    <span class="org_price">{{ products_aletorio.price_soles }} PEN</span>
                                    <!-- <span class="prev_price">$55.45</span> -->
                                </div>
                                <div class="rating">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rating_star">
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                        </div>
                                        <p class="rating_count">(150)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product_adcart">
                                <button class="default_btn">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/hd-monitor.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>SAMSUNG 27" Class Curved</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/headphone-3.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>COWIN E7 Active</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/phone-1.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Xiaomi Note 7 Pro</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- ad banner -->
<div class="ad_banner_area section_padding_b">
    <div class="container">
        <a href="#">

            <picture>
                <source media="(min-width: 768px)" srcset="assets/images/offer-3.jpg">
                <img loading="lazy" class="w-100" src="assets/images/offer-mobile-3.jpg" alt="ad">
            </picture>
        </a>
    </div>
</div>

<!-- recomended -->
<section class="new_arrive section_padding_b">
    <div class="container">
        <div class="d-flex align-items-start justify-content-between">
            <h2 class="section_title_2">Recomended for you</h2>
            <div class="seemore_2 pt-2">
                <a href="#">See More <span><i class="las la-angle-right"></i></span></a>
            </div>
        </div>
        <div class="row gy-4">
            <ng-container *ngFor="let products_aletorio of products_aletorio_b">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_new_arrive">
                        <div class="sna_img">
                            <img loading="lazy" class="prd_img" [src]="products_aletorio.imagen" alt="product">
                            <span class="tag">Hot</span>
                            <div class="prodcut_hovcont">
                                <a href="javascript:void(0)" class="icon open_quickview"
                                    (click)="openModal(products_aletorio)" tabindex="0">
                                    <i class="icon-search-left"></i>
                                </a>
                                <a href="#" class="icon" tabindex="0">
                                    <i class="icon-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="sna_content">
                            <a [routerLink]="[ '/producto/', products_aletorio.slug ]">
                                <h4>{{ products_aletorio.tittle.length > 15 ? products_aletorio.tittle.slice(0,
                                    20)+"..."
                                    : products_aletorio.tittle }}</h4>
                            </a>
                            <div class="ratprice">
                                <div class="price">
                                    <span class="org_price">{{ products_aletorio.price_soles }} PEN</span>
                                    <!-- <span class="prev_price">$55.45</span> -->
                                </div>
                                <div class="rating">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rating_star">
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                            <span><i class="las la-star"></i></span>
                                        </div>
                                        <p class="rating_count">(150)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product_adcart">
                                <button class="default_btn">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/mouch-logi.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Logitech Wireless Mouse</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/headphone-3.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>COWIN E7 Active</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/phone-1.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Xiaomi Note 7 Pro</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/phone-2.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>iPhone 11 Pro</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/laptop-2.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>HP Omen 13</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/coverpad.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Anti-Fray Cloth Gaming</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$95.00</span>
                                <span class="prev_price">$120.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <img loading="lazy"  class="prd_img" src="assets/images/headphone-2.png" alt="product">
                        <div class="prodcut_hovcont">
                            <a href="javascript:void(0)" class="icon open_quickview" tabindex="0">
                               <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Bose Headphone</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- download app -->
<section class="download_wrap section_padding_b">
    <div class="container">
        <div class="download_bg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="download_left">
                        <img loading="lazy" src="assets/images/mobile-view.png" class="w-100">
                    </div>
                </div>
                <div class="col-lg-5 px-5 px-lg-0">
                    <div class="download_cont">
                        <h2 class="title_2 text-capitalize mb-3">Download RAFCART App Now!</h2>
                        <p class="mb-4">Shopping fastly and easily more with our app. Get a link to <br
                                class="d-none d-xl-block"> download
                            the app on your
                            phone</p>
                        <form action="#" class="subscribe_form">
                            <input type="text" placeholder="Email Address">
                            <button type="submit">Subscribe</button>
                        </form>
                        <div class="download_links">
                            <a href="#" class="me-3">
                                <img loading="lazy" src="assets/images/download-1.png" alt="download">
                            </a>
                            <a href="#">
                                <img loading="lazy" src="assets/images/download-2.png" alt="download">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="product_quickview">
    <ng-container *ngIf="product_selected_modal">
        <app-c-detail-product [product_selected_modal]="product_selected_modal"></app-c-detail-product>
    </ng-container>
</div>