<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!-- product quick view -->


<!-- popup -->
<!-- <div class="popup_wrap">
  <div class="popup_container">
      <div class="popup_content">
          <div class="close_popup">
              <i class="las la-times"></i>
          </div>
          <h2 class="text-uppercase">Get <span class="text-color">30%</span> off</h2>
          <p class="mb-3">
              Subscribe to the newsletter to receive updates about new products.
          </p>
          <form class="subscribe_form">
              <input type="text" placeholder="Your email address">
              <button type="submit" class="default_btn">Subscribe</button>
          </form>
          <div class="mt-4">
              <div class="custom_check check_2 d-flex align-items-center justify-content-center">
                  <input type="checkbox" class="check_inp" hidden="" id="save-default">
                  <label for="save-default">Do not show this again</label>
              </div>
          </div>
      </div>
  </div>
</div> -->