<!-- breadcrumbs -->
<div class="container">
    <div class="breadcrumbs">
        <a href="#"><i class="las la-home"></i></a>
        <a href="#">Producto</a>
        <a href="#" class="active" *ngIf="product_selected">{{ product_selected.tittle }}</a>
    </div>
</div>

<!-- product view -->
<div class="product_view_wrap section_padding_b">
    <div class="container">
        <ng-container *ngIf="product_selected">
            <app-c-detail-product [is_landing]="true"
                [product_selected_modal]="product_selected"></app-c-detail-product>
        </ng-container>

        <div class="product_view_tabs mt-4">
            <div class="pv_tab_buttons" class="spec_text">
                <div class="pbt_single_btn active" data-target=".info">Product Info</div>
                <div class="pbt_single_btn" data-target=".qna">Question & Answer</div>
                <div class="pbt_single_btn" data-target=".review">Reviews ({{reviews.length}})</div>
            </div>
            <div class="pb_tab_content info active">
                <div class="row" *ngIf="product_selected">
                    <div class="col-lg-8">
                        <div class="pbt_info_text" [innerHTML]="product_selected.description">

                        </div>
                    </div>
                </div>
            </div>
            <div class="pb_tab_content qna">
                <h4>Question about this product (3)</h4>
                <div class="pbqna_wrp">
                    <div class="single_pbqna">
                        <div class="pbqna_icon">
                            <i class="icon-user-line"></i>
                        </div>
                        <div class="pbqna_content">
                            <h5>Any discount?</h5>
                            <p>Dr.SaifuzZ. - 27 Oct 2021</p>
                        </div>
                    </div>
                    <div class="single_pbqna">
                        <div class="pbqna_icon">
                            <i class="las la-headset"></i>
                        </div>
                        <div class="pbqna_content">
                            <h5>There is no discount sir</h5>
                            <p>Store Admin - 27 Oct 2021</p>
                        </div>
                    </div>
                </div>
                <div class="pbqna_wrp">
                    <div class="single_pbqna">
                        <div class="pbqna_icon">
                            <i class="icon-user-line"></i>
                        </div>
                        <div class="pbqna_content">
                            <h5>Any discount?</h5>
                            <p>Dr.SaifuzZ. - 27 Oct 2021</p>
                        </div>

                    </div>
                    <div class="single_pbqna">
                        <div class="pbqna_icon">
                            <i class="las la-headset"></i>
                        </div>
                        <div class="pbqna_content">
                            <h5>There is no discount sir</h5>
                            <p>Store Admin - 27 Oct 2021</p>
                        </div>
                    </div>
                </div>


                <div class="pbqna_form">
                    <form action="#">
                        <textarea placeholder="Type your question"></textarea>
                        <button class="default_btn rounded">Ask Question</button>
                    </form>
                </div>
            </div>
            <div class="pb_tab_content review">
                <div class="review_rating">
                    <div class="total_rating">
                        <div class="trating_number">
                            <span class="avrage">4.9</span>
                            <span class="from">/5</span>
                        </div>
                        <div class="rating_star">
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                        </div>
                        <div class="trating_count">{{reviews.length}} Reviews</div>
                    </div>
                    <div class="overall_rating">
                        <div class="single_ovrating d-flex align-items-center">
                            <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                            </div>
                            <div class="rating_pbox"><span style="width: 70%;"></span></div>
                            <p class="rating_count">{{ getCountReview(5) }}</p>
                        </div>
                        <div class="single_ovrating d-flex align-items-center">
                            <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                            </div>
                            <div class="rating_pbox"><span style="width: 20%;"></span></div>
                            <p class="rating_count">{{ getCountReview(4) }}</p>
                        </div>
                        <div class="single_ovrating d-flex align-items-center">
                            <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                            </div>
                            <div class="rating_pbox"><span style="width: 0%;"></span></div>
                            <p class="rating_count">{{ getCountReview(3) }}</p>
                        </div>
                        <div class="single_ovrating d-flex align-items-center">
                            <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="las la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                            </div>
                            <div class="rating_pbox"><span style="width: 0%;"></span></div>
                            <p class="rating_count">{{ getCountReview(2) }}</p>
                        </div>
                        <div class="single_ovrating d-flex align-items-center">
                            <div class="rating_star">
                                <span><i class="las la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                                <span><i class="lar la-star"></i></span>
                            </div>
                            <div class="rating_pbox"><span style="width: 0%;"></span></div>
                            <p class="rating_count">{{ getCountReview(1) }}</p>
                        </div>
                    </div>
                </div>
                <div class="review_header d-flex align-items-center justify-content-between">
                    <p class="m-0 text-semibold">Reseña de Productos</p>
                    <div class="review_filters">
                        <select class="nice_select">
                            <option value="">Sort by</option>
                            <option value="">Price low-high</option>
                            <option value="">Price high-low</option>
                        </select>
                    </div>
                </div>
                <div class="review_cont_wrap">
                    <ng-container *ngFor="let review of reviews">
                        <div class="single_review_wrp">
                            <div class="review_avatar">
                                <img loading="lazy" [src]="review.user.avatar" alt="user">
                            </div>
                            <div class="review_content">
                                <h5>{{ review.user.full_name }}</h5>
                                <div class="rating_star">
                                    <span><i class="la-star"
                                            [ngClass]="{'las': review.rating >= 1,'lar': review.rating < 1}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': review.rating >= 2,'lar': review.rating < 2}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': review.rating >= 3,'lar': review.rating < 3}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': review.rating >= 4,'lar': review.rating < 4}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': review.rating >= 5,'lar': review.rating < 5}"></i></span>
                                </div>
                                <div class="review_date">{{ review.created_at }}</div>
                                <div class="review_body">
                                    <p>{{ review.message }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- new arrive -->
<section class="new_arrive section_padding_b">
    <div class="container">
        <div class="d-flex align-items-start justify-content-between">
            <h2 class="section_title_2">Related products</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6" *ngFor="let product of product_relateds">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <a [href]="'/producto/'+product.slug">
                            <img loading="lazy" class="prd_img" [src]="product.imagen" alt="product">
                        </a>
                        <span class="tag">Hot</span>
                        <div class="prodcut_hovcont">
                            <a [href]="'/producto/'+product.slug" class="icon" tabindex="0">
                                <i class="icon-search-left"></i>
                            </a>
                            <a href="javascript:void(0)" (click)="addWish(product)" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a [href]="'/producto/'+product.slug">
                            <h4>{{ product.tittle.length > 15 ? product.tittle.slice(0, 20)+"..." : product.tittle }}
                            </h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">{{ product.price_soles }} PEN</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="la-star"
                                                [ngClass]="{'las': product.avg_rating >= 1,'lar': product.avg_rating < 1}"></i></span>
                                        <span><i class="la-star"
                                                [ngClass]="{'las': product.avg_rating >= 2,'lar': product.avg_rating < 2}"></i></span>
                                        <span><i class="la-star"
                                                [ngClass]="{'las': product.avg_rating >= 3,'lar': product.avg_rating < 3}"></i></span>
                                        <span><i class="la-star"
                                                [ngClass]="{'las': product.avg_rating >= 4,'lar': product.avg_rating < 4}"></i></span>
                                        <span><i class="la-star"
                                                [ngClass]="{'las': product.avg_rating >= 5,'lar': product.avg_rating < 5}"></i></span>
                                    </div>
                                    <p class="rating_count">({{ product.reviews_count }})</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn" (click)="addCart(product)">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <a href="product-view.html">
                            <img loading="lazy"  class="prd_img" src="assets/images/shoes-1.png" alt="product">
                        </a>
                        <div class="prodcut_hovcont">
                            <a href="product-view.html" class="icon" tabindex="0">
                                <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Red Casual Shoes</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <a href="product-view.html">
                            <img loading="lazy"  class="prd_img" src="assets/images/headphone-3.png" alt="product">
                        </a>
                        <div class="prodcut_hovcont">
                            <a href="product-view.html" class="icon" tabindex="0">
                                <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>COWIN E7 Active</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_new_arrive">
                    <div class="sna_img">
                        <a href="product-view.html">
                            <img loading="lazy"  class="prd_img" src="assets/images/phone-1.png" alt="product">
                        </a>
                        <div class="prodcut_hovcont">
                            <a href="product-view.html" class="icon" tabindex="0">
                                <i class="icon-search-left"></i>
                            </a>
                            <a href="#" class="icon" tabindex="0">
                                <i class="icon-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sna_content">
                        <a href="product-view.html">
                            <h4>Xiaomi Note 7 Pro</h4>
                        </a>
                        <div class="ratprice">
                            <div class="price">
                                <span class="org_price">$45.00</span>
                                <span class="prev_price">$55.45</span>
                            </div>
                            <div class="rating">
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">(150)</p>
                                </div>
                            </div>
                        </div>
                        <div class="product_adcart">
                            <button class="default_btn">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>