<!-- account content -->
<div class="acprof_info_wrap shadow_sm">
    <h4 class="text_xl mb-3">Información personal: </h4>
    <form action="">
        <div class="row">
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Nombres: </label>
                    <input type="text" [(ngModel)]="name" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Apellidos: </label>
                    <input type="text" [(ngModel)]="surname" name="surname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Cumpleaños: </label>
                    <input type="date" [(ngModel)]="birthday" name="birthday">
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Genero: </label>
                    <select class="nice_select" [(ngModel)]="gender" name="gender">
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                        <option value="3">Otro</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Dirección de correo: </label>
                    <input type="text" [(ngModel)]="email" name="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Number telefonico: </label>
                    <input type="text" [(ngModel)]="phone" name="phone">
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Sube tu avatar: *</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile"
                                accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="col-12 py-2" *ngIf="imagen_previzualiza">
                            <img src="{{imagen_previzualiza}}" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 acprof_subbtn">
                <button type="submit" class="default_btn rounded small" (click)="save()">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>