<div class="shop_cart_wrap wishlist">
    <ng-container *ngFor="let wish of listWish">
        <div class="single_shop_cart d-flex align-items-center flex-wrap mt-0">
            <div class="cart_img mb-4 mb-md-0">
                <img loading="lazy" [src]="wish.product.imagen" alt="product">
            </div>
            <div class="cart_cont">
                <a [href]="'/producto/'+wish.product.slug">
                    <h5>{{ wish.product.title }}</h5>
                </a>
                <p class="instock mb-0">Availability: <span>In Stock</span></p>
            </div>

            <div class="cart_price ms-md-auto ms-0">
                <p>{{ wish.product.price_soles }} PEN</p>
            </div>
            <div class="wish_cart_btn ms-md-auto ms-0 mt-3 mt-md-0">
                <button class="list_product_btn" (click)="addCart(wish)"><span class="icon"><i
                            class="icon-cart"></i></span> Add to Cart</button>
            </div>
            <div class="cart_remove ms-auto align-self-end align-self-md-center" (click)="deleteItem(wish)">
                <i class="icon-trash"></i>
            </div>
        </div>
    </ng-container>

    <!-- <div class="single_shop_cart d-flex align-items-center flex-wrap">
        <div class="cart_img mb-4 mb-md-0">
            <img loading="lazy"  src="assets/images/keyboard.png" alt="product">
        </div>
        <div class="cart_cont">
            <a href="product-view.html"><h5>HV-KB585GCM Wireless Keyboard & Mouse </h5></a>
            <p class="instock mb-0">Availability: <span class="outstock">Out of Stock</span></p>
        </div>
  
        <div class="cart_price ms-md-auto ms-0">
            <p>$95.00</p>
        </div>
        <div class="wish_cart_btn ms-md-auto ms-0 mt-3 mt-md-0">
            <button class="list_product_btn disable"><span class="icon"><i class="icon-cart"></i></span> Add to Cart</button>
        </div>
        <div class="cart_remove ms-auto align-self-end align-self-md-center">
             <i class="icon-trash"></i>
        </div>
    </div> -->
</div>