<div class="write_review_wrap shadow_sm padding_default">
    <h4 class="text_xl mb-3">Escribe una reseña: </h4>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <div class="orderprod_img">
                    <img loading="lazy" src="{{URL_BACKEND+sale_detail.product.imagen}}" alt="product">
                </div>
                <div class="single_orderdet pdname">
                    <h5>{{ sale_detail.product.title }}</h5>
                    <p>{{ sale_detail.total }} {{ sale_detail.currency_payment }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
            <div class="single_orderdet">
                <h5>Fecha</h5>
                <p>{{ sale_detail.created_at }}</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 mb-3 mb-md-0">
            <h4 class="text_lg">Califica tu producto: </h4>
            <div class="d-flex align-items-center mt-3">
                <div class="intaractive_rating">
                    <div class="rating-group">
                        <input disabled checked class="rating__input rating__input--none" name="rating1"
                            id="rating1-none" value="0" type="radio" [checked]="rating == 0" (click)="getRating(0)">
                        <label class="rating__label" for="rating1-1">
                            <i class="rating__icon rating__icon--star las la-star"></i>
                        </label>
                        <input class="rating__input" name="rating1" id="rating1-1" value="1" type="radio"
                            [checked]="rating == 1" (click)="getRating(1)">
                        <label class="rating__label" for="rating1-2">
                            <i class="rating__icon rating__icon--star las la-star"></i>
                        </label>
                        <input class="rating__input" name="rating1" id="rating1-2" value="2" type="radio"
                            [checked]="rating == 2" (click)="getRating(2)">
                        <label class="rating__label" for="rating1-3">
                            <i class="rating__icon rating__icon--star las la-star"></i>
                        </label>
                        <input class="rating__input" name="rating1" id="rating1-3" value="3" type="radio"
                            [checked]="rating == 3" (click)="getRating(3)">
                        <label class="rating__label" for="rating1-4">
                            <i class="rating__icon rating__icon--star las la-star"></i>
                        </label>
                        <input class="rating__input" name="rating1" id="rating1-4" value="4" type="radio"
                            [checked]="rating == 4" (click)="getRating(4)">
                        <label class="rating__label" for="rating1-5">
                            <i class="rating__icon rating__icon--star las la-star"></i>
                        </label>
                        <input class="rating__input" name="rating1" id="rating1-5" value="5" type="radio"
                            [checked]="rating == 5" (click)="getRating(5)">
                    </div>
                </div>
                <p class="text_md text-semibold mb-0 ms-2 text_xs">Good</p>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h4 class="text_lg">Detalle de Reseña</h4>
            <textarea class="reviewdet_textbox" [(ngModel)]="message"
                placeholder="Please share your feedback about the product: Was the product as described? What is the quality like?"></textarea>
        </div>
    </div>

    <div class="d-flex mt-4 align-items-start">
        <!-- <div class="img_uploading">
            <input type="file" id="upload_img" hidden>
            <label for="upload_img" class="upload_img">
                <div class="upload_icn">
                    <img loading="lazy"  src="assets/images/upload-img.png">
                </div>
                <p>Upload Photo</p>
            </label>
        </div> -->
        <!-- <div class="img_uproles ms-3">
            <div class="uproles_icn">
                <i class="las la-exclamation-circle"></i>
            </div>
            <div class="uproles_content">
                <h4>Important:</h4>
                <ul>
                    <li>Maximum 6 images can be uploaded</li>
                    <li>Image size can be maximum 5mb</li>
                    <li>It takes upto 24 hours for the image to be reviewed</li>
                    <li>Please ensure you meet the Community Guidelines before uploading your review</li>
                </ul>
            </div>
        </div> -->
    </div>

    <div class="acprof_subbtn mt-4">
        <button type="button" (click)="back()" class="default_btn rounded small">ATRAS</button>
        <button type="submit" *ngIf="review_selected" (click)="update()"
            class="default_btn rounded small">EDITAR</button>
        <button type="submit" *ngIf="!review_selected" (click)="save()"
            class="default_btn rounded small">GUARDAR</button>
    </div>

</div>