<div class="acprof_info_wrap shadow_sm">
    <h4 class="text_xl mb-3">Cambio de contraseña</h4>
    <form action="">
        <div class="row flex-column">
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Contraseña Actual: </label>
                    <div class="position-relative">
                        <input type="password" placeholder="enter current password" [(ngModel)]="current_password"
                            name="current_password">
                        <span class="icon"><i class="las la-eye-slash"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Nueva Contraseña: </label>
                    <div class="position-relative">
                        <input type="password" placeholder="enter new password" [(ngModel)]="new_password"
                            name="new_password">
                        <span class="icon"><i class="las la-eye-slash"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_billing_inp">
                    <label>Reptir Contraseña: </label>
                    <div class="position-relative">
                        <input type="password" placeholder="repeat your password" [(ngModel)]="repeat_password"
                            name="repeat_password">
                        <span class="icon"><i class="las la-eye-slash"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-12 acprof_subbtn">
                <button type="submit" class="default_btn rounded small" (click)="save()">Cambiar Contraseña</button>
            </div>
        </div>
    </form>
</div>