<div class="" [ngClass]="{'prodquick_wrap position-relative': !is_landing}">
    <div class="close_quickview" *ngIf="!is_landing">
        <i class="las la-times"></i>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="product_view_slider">
                <div class="single_viewslider" *ngFor="let imagen of product_selected_modal.images">
                    <img loading="lazy" [src]="imagen.imagen" alt="product">
                </div>
            </div>
            <div class="product_viewslid_nav">
                <div class="single_viewslid_nav" *ngFor="let imagen of product_selected_modal.images">
                    <img loading="lazy" [src]="imagen.imagen" alt="product">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product_info_wrapper">
                <div class="product_base_info">
                    <h1>{{ product_selected_modal.tittle }}</h1>
                    <div class="rating">
                        <div class="d-flex align-items-center">
                            <div class="rating_star">
                                <div class="rating_star">
                                    <span><i class="la-star"
                                            [ngClass]="{'las': product_selected_modal.avg_rating >= 1,'lar': product_selected_modal.avg_rating < 1}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': product_selected_modal.avg_rating >= 2,'lar': product_selected_modal.avg_rating < 2}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': product_selected_modal.avg_rating >= 3,'lar': product_selected_modal.avg_rating < 3}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': product_selected_modal.avg_rating >= 4,'lar': product_selected_modal.avg_rating < 4}"></i></span>
                                    <span><i class="la-star"
                                            [ngClass]="{'las': product_selected_modal.avg_rating >= 5,'lar': product_selected_modal.avg_rating < 5}"></i></span>
                                </div>
                                <p class="rating_count">({{ product_selected_modal.reviews_count }})</p>
                            </div>
                        </div>
                        <div class="product_other_info">
                            <p><span class="text-semibold">Availability:</span><span class="text-green">In
                                    Stock</span></p>
                            <p><span class="text-semibold">Brand:</span>Bata</p>
                            <p><span class="text-semibold">Categoria:</span>{{ product_selected_modal.categorie.name }}
                            </p>
                            <p><span class="text-semibold">SKU:</span>{{ product_selected_modal.sku }}</p>
                        </div>

                        <!-- error -->
                        <div class="price mt-3 mb-3 d-flex align-items-center"
                            *ngIf="product_selected_modal.discount_g">
                            <span class="prev_price ms-0">{{ product_selected_modal.price_soles }} PEN</span>
                            <span class="org_price ms-2">{{ getNewPriceS(product_selected_modal.price_soles, product_selected_modal.discount_g) }} PEN</span>
                            <div class="disc_tag ms-3">{{ product_selected_modal.discount_g.discount }} {{ product_selected_modal.discount_g.type_discount == 1 ? '%' : 'PEN'}} </div>
                        </div>
                        <div class="price mt-3 mb-3 d-flex align-items-center"
                            *ngIf="!product_selected_modal.discount_g">
                            <span class="org_price ms-2">{{ product_selected_modal.price_soles }} PEN</span>
                        </div>
                        <div class="pd_dtails text-justify">
                            <p>
                                {{ product_selected_modal.resumen }}
                            </p>
                        </div>
                        <div class="shop_filter border-bottom-0 pb-0">
                            <ng-container *ngIf="product_selected_modal.checked_inventario == 1">
                                STOCK DISPONIBLE: {{ product_selected_modal.stock }} UNIDADES
                            </ng-container>
                            <ng-container *ngIf="product_selected_modal.checked_inventario == 2">
                                <div class="size_selector mb-3">
                                    <h5>Tamaños</h5>
                                    <div class="d-flex align-items-center">
                                        <div class="single_size_opt" *ngFor="let size of product_selected_modal.sizes">
                                            <input type="radio" hidden name="size" class="size_inp"
                                                (click)="selectedSize(size)" [attr.id]="'size-'+size.name">
                                            <label [attr.for]="'size-'+size.name">{{ size.name }}</label>
                                        </div>
                                        <!-- <div class="single_size_opt ms-2">
                                      <input type="radio" hidden name="size" class="size_inp" id="size-s">
                                      <label for="size-s">S</label>
                                  </div>
                                  <div class="single_size_opt ms-2">
                                      <input type="radio" hidden name="size" class="size_inp" id="size-m" checked>
                                      <label for="size-m">M</label>
                                  </div>
                                  <div class="single_size_opt ms-2">
                                      <input type="radio" hidden name="size" class="size_inp" id="size-l">
                                      <label for="size-l">L</label>
                                  </div>
                                  <div class="single_size_opt ms-2">
                                      <input type="radio" hidden name="size" class="size_inp" id="size-xl">
                                      <label for="size-xl">XL</label>
                                  </div> -->
                                    </div>
                                </div>
                                <div class="size_selector color_selector">
                                    <h5>Color:</h5>
                                    <div class="d-flex align-items-center">
                                        <ng-container *ngFor="let color_size of color_size_selecteds">
                                            <div class="single_size_opt">
                                                <input type="radio" hidden name="color" (click)="addColor(color_size)"
                                                    class="size_inp" [attr.id]="'color-'+color_size.product_color.name">
                                                <label [attr.for]="'color-'+color_size.product_color.name" class=""
                                                    [ngStyle]="{'background': color_size.product_color.code}"
                                                    data-bs-toggle="tooltip"
                                                    [attr.tittle]="color_size.product_color.name"></label>
                                            </div>
                                        </ng-container>
                                        <!-- <div class="single_size_opt ms-2">
                                      <input type="radio" hidden name="color" class="size_inp" id="color-red">
                                      <label for="color-red" class="bg-white" data-bs-toggle="tooltip"
                                          title="White"></label>
                                  </div>
                                  <div class="single_size_opt ms-2">
                                      <input type="radio" hidden name="color" class="size_inp" id="color-green"
                                          checked>
                                      <label for="color-green" class="bg-dark" data-bs-toggle="tooltip"
                                          title="Black"></label>
                                  </div> -->
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="cart_qnty ms-md-auto">
                            <p>Quantity</p>
                            <div class="d-flex align-items-center">
                                <div class="cart_qnty_btn" (click)="reduceQ()">
                                    <i class="las la-minus"></i>
                                </div>
                                <div class="cart_count">{{ quantity }}</div>
                                <div class="cart_qnty_btn" (click)="addQ()">
                                    <i class="las la-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_buttons">
                        <a href="#" onclick="return false;" (click)="addCart(product_selected_modal)"
                            class="default_btn me-sm-3 me-2 px-2 px-lg-4"><i class="icon-cart me-2"></i> Add to Cart</a>
                        <a href="#" onclick="return false;" (click)="addWish(product_selected_modal)"
                            class="default_btn second px-3 px-ms-4"><i class="icon-heart me-2"></i>
                            Wishlist</a>
                    </div>
                    <div class="share_icons footer_icon d-flex">
                        <a href="#"><i class="lab la-facebook-f"></i></a>
                        <a href="#"><i class="lab la-twitter"></i></a>
                        <a href="#"><i class="lab la-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>